.body{
    background: linear-gradient(300deg, #eddb3d, #f1941a, #f57878);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 100vh;
    display: flexbox;
    border:  solid black;
    margin: 0%;
    flex-wrap: wrap;
}
.heading{
    font-size: 60px;
    color: rgb(104, 6, 56);
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
}
.abouttext{
    font-size: 30px;
    color: rgb(32, 6, 104);
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
}
.my-btn{
    background-color: #1abff1;
    color: rgb(19, 7, 178);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    margin-left: 50%;
}